* {
  box-sizing: border-box; 
}


.App {
  /* border: 2px solid blue; */
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 90px;
}

.App-header {
  background-color:lightblue;
  height: 170px;
  padding: 20px;
  color: white;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

footer {
  background: lightblue;
  height: 8.2vh;
}



