
* {
    box-sizing: border-box; 
  }

.container {
    /* border: 1px solid lawngreen; */
    margin: 5px auto;
    width: 1130px;
    display: flex;
    flex-wrap: wrap;
}
.button-area {
    /* border: 1px solid violet; */
    height: 230px;
    width: 90px;
    order: 3;
}

.text-area{
    /* border: 1px solid peru; */
    margin: 0 5px;
    height: 600px;
    width: 600px;
    order: 2;
}

#author-paper {
    resize: none;
    border-top-left-radius:  15px;
    border-top-right-radius:  15px;
    padding-left:100px;
    width:600px;
    height: 40px;
    font-family:Courier, monospace;
	font-weight:bold;
    font-size:34px;
    color: rgb(120, 120, 120);
    background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
}
#author-paper::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(200, 200, 200);
    opacity: 1; /* Firefox */
}



#content-paper {
    resize: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    vertical-align: top;
    color: rgb(120, 120, 120);
    width:600px;
    height: 326px;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:30px;
	resize:none;
	line-height:41px;
    padding-left:100px;
    margin-bottom: 5px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
    background-repeat:repeat-y, repeat;
    background-size: 700px 41px;
}

#content-paper::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(200, 200, 200);
    opacity: 1; /* Firefox */
}



#btnSend {
    display: block;
    font-size: 14px;
    vertical-align: top;
    margin: 10px 10px;
    padding: 0;
    background: lightskyblue;
    height: 40px;
    width: 70px;
    border: 2px solid #4286f4;
    border-radius: 15px;

}

#btnSend:hover { 
    background-color: #4286f4;
}

#btnSend:disabled {
    background: #dddddd;
    color: rgb(180, 180, 180);
    border: 2px solid rgb(180, 180, 180);
}


.toolBar{
    resize: none;
    border: 1px solid skyblue;
    margin: 10px 0;
    border-radius: 15px;
    order: 2;
    font-size: 23px;
    width: 600px;
    height: 100px;
    background: lightcyan;

  }
  .toolBar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightblue;
    opacity: 1; /* Firefox */
}

.translate-check {
    width: 600px;
    height: 40px;
}


.translate{
    resize: none;
    color: lightslategray;
    border: 1px solid skyblue;
    border-radius: 15px;
    order: 2;
    font-size: 23px;
    width: 600px;
    height: 100px;
    background: lightcyan;
    float: left;
  }
  .translate::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightblue;
    opacity: 1; /* Firefox */
}

.notesButtons{
    margin: 5px 5px;
}
.notesButtons:hover {
    background-color: aqua;
}