* {
    box-sizing: border-box; 
  }
.sidebar-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    order: 1;
    margin: 0 5px;
    padding: 0 0;
    width: 400px;
    height: 600px;
  }

.sidebar-header {
    color: white;
    order: 1;
    margin: 0 5px;
    width: 400px;
    height: 100px;
    background: rgb(65, 65, 65);
    border-top-left-radius:  15px;
    border-top-right-radius:  15px;
}

.sidebar-left {
    order: 1;
    color:white;
    width: 400px;
    height: 500px;
    background: rgb(65, 65, 65);
    text-align: left;
    overflow-y: auto;
    margin: 0 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 10px;
  }

#left-sidebar-elements {
    padding: 0px;
    margin: 0px;
    position:relative;
}

#left-sidebar-elements > p {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    height: 20px;
}

#left-sidebar-elements:nth-child(even) {
    background: rgb(55, 55, 55);
}
#left-sidebar-elements:hover { 
    background-color: rgb(95, 95, 95);
}


#left-sidebar-button {
    position:absolute;
    top: 0px;
    right: 10px;
}


h3 {
    padding: 0px;
    margin: 0px;
}

  .lowerHr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid rgb(85, 85, 85);
    margin: 0;
    padding: 0; 
  }